$break-small: 300px;
$break-large: 1400px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

*{
  box-sizing: border-box;
}

header{
    background: url('../img/sea.jpeg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    @include respond-to(medium-screens) {
      background: url('../img/sea.jpeg');
      background-size: cover;
    }
    .my-name{
      width: 100%;
      text-align: center;
      font-family: 'overpass', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 10em;
      padding: 8% 0 0 0;
      display: block;
      color: white;
      @include respond-to(medium-screens) {
        padding: 25% 0 0 0;
      }
    }
    .my-title{
      width: 100%;
      text-align: center;
      font-family: 'overpass', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 5em;
      padding: 3% 0 0 0;
      display: block;
      color: darken(white, 5%);
    }
    .about{
      width: 100%;
      text-align: center;
      font-family: 'overpass', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 4em;
      padding: 9% 0 0 0;
      display: block;
      color: darken(white, 10%);
      a{
        text-decoration: none;
        color: darken(white, 10%);
      }
      @include respond-to(medium-screens) {
          padding: 28% 0 0 0;
      }
      .break-me{
        @include respond-to(medium-screens) {
          display: block;
        }
      }
    }
  .bottom-nav{
    margin: 12% 0 0 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'overpass', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    .header-links{
      width: 32%;
      display: inline-block;
      text-align: center;
      a{
        text-decoration: none;
        color: black;
      }
    }
    @include respond-to(medium-screens) {
        padding: 15% 0 0 0;
        font-size: 3em;
        font-weight: bold;
    }
  }
}

.showcase-body{
height: 50vh;
.showcase-container{
  height: 50vh;
  width: 100vw;
  display: inline-block;
  img{
    width: 13.5%;
    margin: 0 0 0 3%;
    @include respond-to(medium-screens) {
        width: 23%;
        margin: 12% 0 0 1.3%;
    }

  }
  .landing{
    @include respond-to(medium-screens) {
        display: none;
    }
  }
}

.portfolio-showcase{
  height: 50.5vh;
  width: 100vw;
  display: block;
  font-family: 'overpass', sans-serif;
  background-color: rgba(50, 50, 50, 0.8);
  position: absolute;
  top: 150vh;
  color: white;
  display: none;
  .showcase-desc-container{
    width:20vw;
    display: inline-block;

    .fs-logo{
      width: 70%;
      display: block;
      margin: 0 0 0 15%;
      @include respond-to(medium-screens) {
        width: 100%;
        margin: 10% 0 0 25%;
      }

    }
    .portfolio-title{
      display: block;
      font-size: 2.5em;
      font-weight: bold;
      width: 100%;
      text-align: center;
      line-height: 1.2  em;
      @include respond-to(medium-screens) {
        padding: 20%;
      }
    }
  }
    .showcase-desc{
      display: inline-block;
      width: 79vw;
      font-size: 1.5em;
        @include respond-to(medium-screens) {
            width: 65vw;
            float: right;
            padding: 5% 2%;
        }
    }

  .showcase-links{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 19%;
    // border: solid thin black;
    a{
      font-weight: 300;
      text-decoration: none;
      color: white;
    }
    .showcase-link{
      text-align: center;
      width: 49%;
      font-weight: bold;
      display: inline-block;
      @include respond-to(medium-screens) {
        font-size: 1.7em;
      }
      span{
        font-weight: 500;
      }
      .fa-mobile{
        font-size: 2.8em;
        display: block;
        @include respond-to(medium-screens) {
          font-size: 2.5em;
        }
      }
      .fa-github{
        font-size: 2.8em;
        display: block;
        @include respond-to(medium-screens) {
          font-size: 2.5em;
        }
      }
    }
  }
}
}

.appt-body{
  width: 50vw;
  height: 50vh;
  display: inline-block;
  // border-right: solid thin lightgrey;

  .appointments{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 50vw;
    height: 50vh;
    // border: solid thin black;
    .appt-img{
      width: 27%;
      margin: .5% 0 0 15vw;
      border: solid thin lightgrey;
      @include respond-to(medium-screens) {
        width: 75%;
        margin: 0 0 0 6.5vw;
      }
    }
    .appt-container{
      width: 49vw;
      height: 50vh;
      position: absolute;
      top: 0;
      font-family: 'overpass', sans-serif;
      color: white;
      background-color: rgba(50, 50, 50, 0.8);
      display: none;
      .portfolio-title{
        display: block;
        font-size: 2.5em;
        font-weight: bold;
        width: 100%;
        text-align: center;
        line-height: 1.2em;
        margin: 2% 0 5% 0;
        @include respond-to(medium-screens) {
          margin: 5% 0  15% 0;
        }
      }
      .portfolio-desc{
        margin: 0 2%;
        @include respond-to(medium-screens) {
          font-size: 1.8em;
        }
      }
      .portfolio-links{
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 19%;
        // border: solid thin black;
        a{
          font-weight: 300;
          text-decoration: none;
          color: white;
        }
        .portfolio-link{
          text-align: center;
          width: 49%;
          font-weight: bold;
          display: inline-block;
          @include respond-to(medium-screens) {
            font-size: 2em;
          }
          span{
            font-weight: 500;
          }
          .fa-mobile{
            font-size: 2.8em;
            display: block;
            @include respond-to(medium-screens) {
              font-size: 2.5em;
            }
          }
          .fa-github{
            font-size: 2.8em;
            display: block;
            @include respond-to(medium-screens) {
              font-size: 2.5em;
            }
          }
        }
      }
    }
  }
}
  .mem-body{
    width: 49vw;
    height: 50vh;
    display: inline-block;
    // border: solid thin black;
  .memory{
    position: absolute;
    top: 100vh;
    right: 0;
    width: 50vw;
    height: 50vh;
    .mem-img{
      width: 68.5%;
      margin: .5% 0 0 6vw;
      @include respond-to(medium-screens) {
        width: 95%;
        margin: 30% 0 0 1.5vw;
      }
    }
    .mem-container{
      width: 50vw;
      height: 50vh;
      position: absolute;
      top: 0;
      font-family: 'overpass', sans-serif;
      color: white;
      background-color: rgba(50, 50, 50, 0.8);
      display: none;
      .portfolio-title{
        display: block;
        font-size: 2.5em;
        font-weight: bold;
        width: 100%;
        text-align: center;
        line-height: 1.2em;
        margin: 2% 0 5% 0;
        @include respond-to(medium-screens) {
          margin: 5% 0  15% 0;
        }
      }
      .portfolio-desc{
        @include respond-to(medium-screens) {
          font-size: 1.8em;
        }
      }
      .portfolio-links{
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 19%;
        // border: solid thin black;
        a{
          font-weight: 300;
          text-decoration: none;
          color: white;
        }
        .portfolio-link{
          text-align: center;
          width: 49%;
          font-weight: bold;
          display: inline-block;
          @include respond-to(medium-screens) {
            font-size: 2em;
          }
          span{
            font-weight: 500;
          }
          .fa-desktop{
            font-size: 2.8em;
            display: block;
            @include respond-to(medium-screens) {
              font-size: 2.5em;
            }
          }
          .fa-github{
            font-size: 2.8em;
            display: block;
            @include respond-to(medium-screens) {
              font-size: 2.5em;
            }
          }
        }
      }
    }
  }


}

.contact-about{
  height: 100vh;
  width: 100vw;
  background: url('../img/grass-blue-background.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'overpass', sans-serif;
  @include respond-to(medium-screens) {
    background: url('../img/grass-blue-background.jpg');
    background-size: cover;
  }
  .contact-img{
    .byron-img{
      height: 15%;
      width: 15%;
      border-radius: 10em;
      margin: 5% 0 0 42.5%;
      @include respond-to(medium-screens) {
        width: 25%;
        height: 25%;
        margin: 21% 0 0 37.5%;
      }
    }
  }
  .about-txt{
    display: block;
    width: 100vw;
    margin: 1% 0 3% 0;
    text-align: center;
    font-size: 3em;
    color: dodgerblue;
    @include respond-to(medium-screens) {
      font-size: 5em;
      margin: 1% 0 10% 0;
      color: lighten(dodgerblue, 15%);
    }
  }
  .about-desc{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 10%;
    font-size: 2em;
    @include respond-to(medium-screens) {
      padding: 0 2%;
      font-size: 3em;
    }
  }
  .about-links{
    margin: 15% 0 0 0;
    display: block;
    width: 100vw;
    @include respond-to(medium-screens) {
      display: none;
    }
    .about-link{
      display: inline-block;
      text-align: center;
      width: 24.5vw;
      text-decoration: none;
      color: black;
      font-size: 1.2em;

    }
  }
  .about-mobile-links{
    display: none;
    @include respond-to(medium-screens) {

      margin: 27% 0 0 0;
      display: block;
      width: 100vw;
    }
    .about-link{
      display: inline-block;
      text-align: center;
      width: 24.5vw;
      text-decoration: none;
      color: black;
      font-size: 8em;
    }
  }
}
